.button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.primary {
  background-color: var(--silver-lake-blue);
  color: white;
}

.secondary {
  background-color: var(--emerald);
  color: var(--rich-black);
}

.tertiary {
  background-color: var(--xanthous);
  color: var(--rich-black);
}

.primary:hover {
  background-color: var(--silver-lake-blue-dark);
}

.secondary:hover {
  background-color: var(--emerald-dark);
}

.tertiary:hover {
  background-color: var(--xanthous-dark);
}
